body{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font: 100 14px 'Roboto';
  background-color: lightcyan;
}
button{
  /* display: flex; */
  /* flex-direction: row; */
  min-width: 100px;
  height: 80px;
  font: 100 25px 'Roboto';
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
}
button:hover{
  background-color: aliceblue;
}
.displaydiv{
  display: flex;
  background-color: black;
  color: white;
  /* max-width: 300px; */
  height: 80px;
  justify-content: flex-end;
  padding-right: 25px;
  border-radius: 5px;
}
.calculator{
  display: flex;
  flex-direction: column;
  width: 400px;
  /* height: 700px; */
}
.equate{
  display: inline-flex;
  color: orange;

}
.equate button{
  background-color: orangered;
  width: 200px
}
.equate button:hover{
background-color: red;
}
